@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

.main {
  text-align: center; 
  width: 100%;
}

.btn-primary:not(:active) {
  background-color: white;
  color: black;
}

.decade-buttons {
  margin-top: 10px;
}

