<div *ngIf="loading">
    LOADING
</div>
<div *ngIf="!loading" class="main container">
    <!-- checkboxes would be good cantidates for components -->
  <div class="btn-group btn-group-toggle decade-buttons" data-toggle="buttons">
    <label class="btn btn-primary" [class.active]="nineties">
      <input type="checkbox" [checked]="nineties" (change)="nineties = !nineties" autocomplete="off"> 1990s
    </label>
    <label class="btn btn-primary" [class.active]="twoThousands">
      <input type="checkbox" [checked]="twoThousands" (change)="twoThousands = !twoThousands" autocomplete="off"> 2000s
    </label>
    <label class="btn btn-primary" [class.active]="twentyTens">
      <input type="checkbox" [checked]="twentyTens" (change)="twentyTens = !twentyTens" autocomplete="off"> 2010s
    </label>
  </div>
  <div *ngFor="let movie of movies | decades:nineties:twoThousands:twentyTens">
    <app-movie [imdbID]="movie.imdbID"></app-movie>
  </div>
</div>

<!-- JUST NEED TO TOGGLE CSS WHEN GOING BETWEEN CHECKED AND UNCHECKED -->