<div *ngIf="loading">
    LOADING...
</div>
<div *ngIf="!loading" class="main container">
  <div class="btn-group" data-toggle="buttons">
    <div *ngFor="let decade of decades | keyvalue">
      <app-decade-checkbox (changeEvent)="changeEvent($event)" [decade]="decade.key" [decadeValue]="decade.value"></app-decade-checkbox>
    </div>
  </div>
  <!-- <div class="btn-group btn-group-toggle decade-buttons" data-toggle="buttons">
    <label class="btn btn-primary" [class.active]="eighties">
      <input type="checkbox" [checked]="eighties" (change)="eighties = !eighties" autocomplete="off"> 1980s
    </label>
    <label class="btn btn-primary" [class.active]="nineties">
      <input type="checkbox" [checked]="nineties" (change)="nineties = !nineties" autocomplete="off"> 1990s
    </label>
    <label class="btn btn-primary" [class.active]="twoThousands">
      <input type="checkbox" [checked]="twoThousands" (change)="twoThousands = !twoThousands" autocomplete="off"> 2000s
    </label>
    <label class="btn btn-primary" [class.active]="twentyTens">
      <input type="checkbox" [checked]="twentyTens" (change)="twentyTens = !twentyTens" autocomplete="off"> 2010s
    </label>
  </div> -->
  <div *ngFor="let movie of movies | decades:decades">
    <app-movie [imdbID]="movie.imdbID"></app-movie>
  </div>
</div>