<div *ngIf="loading">
    LOADING APPLICATION...
</div>
<div *ngIf="!loading" class="main container">
    <div class="btn-group btn-group-toggle decade-buttons" >
    <label class="btn btn-primary" role="checkbox" tabindex="0" [class.active]="eighties" (keydown)="handleOnKeydown($event, 'eighties')">
      <input type="checkbox" tabindex="-1" [checked]="eighties" (change)="eighties = !eighties" autocomplete="off"> 1980s
    </label>
    <label class="btn btn-primary" role="checkbox" tabindex="0" [class.active]="nineties" (keydown)="handleOnKeydown($event, 'nineties')">
      <input type="checkbox" tabindex="-1" [checked]="nineties" (change)="nineties = !nineties" autocomplete="off"> 1990s
    </label>
    <label class="btn btn-primary" role="checkbox" tabindex="0" [class.active]="twoThousands" (keydown)="handleOnKeydown($event, 'twoThousands')">
      <input type="checkbox" tabindex="-1" [checked]="twoThousands" (change)="twoThousands = !twoThousands" autocomplete="off"> 2000s
    </label>
    <label class="btn btn-primary" role="checkbox" tabindex="0" [class.active]="twentyTens" (keydown)="handleOnKeydown($event, 'twentyTens')">
      <input type="checkbox" tabindex="-1" [checked]="twentyTens" (change)="twentyTens = !twentyTens" autocomplete="off"> 2010s
    </label>
  </div>
  <div *ngFor="let movie of movies | decades:eighties:nineties:twoThousands:twentyTens">
    <app-movie [imdbID]="movie.imdbID"></app-movie>
  </div>
</div>