<div *ngIf="loading; else elseBlock">
  LOADING MOVIE...
</div>
<ng-template #elseBlock>
  <div class="movie">
    <div class="row">
      <div class="col-sm-3">
        <img class="movie__img" src="../../../assets/images/{{movie.poster}}" alt="{{movie.title}} movie poster">
      </div>
      <div class="movie__info col-sm-9">
        <div class="row">
          <h5 class="movie__title">{{movie.title}}</h5>
        </div>
        <div>
          <hr>
        </div>
        <div class="row">
          <span class="movie__rating col-sm-2">{{movie.rated}}</span>
          <span class="runtime col-sm-2">{{movie.runtime}}</span>
          <span class="empty col-sm-5"></span>
          <span class="release col-sm-3">{{movie.released}}</span>
        </div>
        <div class="row movie__plot">
          {{movie.plot}}
        </div>
        <div class="movie__imdbLink pull-right">
          <a class="btn btn-primary movie__anchor" href='{{ movie.imdbLink }}'>View on IMDB</a>
        </div>
      </div>
    </div>
  </div>
</ng-template>