
.movie {
  width: 750px;
  background-color: #E8EBEE;
  border-radius: 8px;
  border-width: 1px; 
  border: solid;
  border-color: black;
  display: inline-block;
  padding: 5px;
  text-align: left;
  margin: 10px;
}

.info {
  margin-top: 10px;
}

.movie img {
  width: 140px;
  height: auto;
  border-radius: 8px;
  margin: 15px;
}

.movie .plot {
  padding-top: 10px;
  padding-right: 10px;
  font-size: 0.9em;
}

.movie .rating {
  font-family: 'Courier New', Courier, monospace;
  border: solid;
  border-width: 1px;
  border-radius: 4px;
  text-align: center;
  width: 75%;
}

.movie .imdbLink {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-bottom: 12px;
  padding-right: 12px;
}

.movie .imdbLink a {
  color: black;
}

.btn-primary,  .btn-primary:active, .btn-primary:visited {
  background-color: #ff9900;
}

.btn-primary:hover {
  background-color: #c77700; 
}

.movie .btn {
  width: 190px;
  margin: 10px;
}

hr {
  margin: 0px 10px 5px -10px;
}
.title {
  margin: 0px;
  padding: 0px;
  padding-right: 5px;
}